import(methods)
importMethodsFrom(LiquidAssociation, CNM.full, CNM.simple, GLA)
importFrom(WGCNA, cor, enableWGCNAThreads)
importFrom(LiquidAssociation, CNM.full, CNM.simple, GLA)
importFrom(parallel, makeCluster, mclapply, parLapply, detectCores, stopCluster)
importFrom(doParallel, stopImplicitCluster)
importFrom(stats, qnorm, quantile, sd, na.omit)
importFrom(utils, head)
importFrom(Hmisc, cut2)
export("fastMLA", "mass.CNM", "fastboots.GLA")
exportClasses(fastMLA, mass.CNM, fastboots.GLA)
exportMethods(fastMLA, mass.CNM, fastboots.GLA)
